<h1>Witam ma mojej stronie domowej</h1>
<h2>Coś o mnie</h2>
<p>
  Witam, nazywam się Jakub Kapuścik. Mieszkam w <a href="http://www.wodzislaw-slaski.pl/" target="_blank">Wodzisławiu Śl.</a>
  Obecnie jestem studentem 7-go semestru informatyki na <a href="http://www.swsim.edu.pl/" target="_blank">SWSIM w Chorzowie</a>
  , specializacja "Inżynieria oprogramowania i bazy danych". Dokładniejsze informacje o mnie znajdziecie w moim <%= link_to "CV", cv_path %>.
</p>
<h2>Hobby</h2>
<p>
  Głównie sport i komputery. Jeśli chodzi o sport to gram w 
  <a href="http://liga.miastorybnik.pl" target="_blank">Rybnickiej Lidzie Siatkówki Amatorskiej</a>
  , w drużynie <a href="http://tsjedynkajankowice.cba.pl" target="_blank">Jedynka Jankowice II</a>.
  Chodze również na siłownie(4Max, Wodzisław Śląski).<br>
  Jeśli zaś chodzi o komputery, jestem entuzjastą :) <a href="http://valid.canardpc.com/show_oc.php?id=1603347" target="_blank">Mój PC</a>.
  Iteresuje się bardzo wieloma zagadnieniami związanymi z komputerem. Ważniejsze z nich: harware(podkręcanie, modowanie), software(różne programy z rodziny Windows).
  programowanie(Ruby on Rails, C#, MySQL), gry PC.
</p>
<h2>O stronie</h2>
<p>
  Moja strona została wykonana w całości we frameworku 
  <a href="http://rubyonrails.org/" target="_blank">Ruby on Rails</a>.
  Wszytkim którzy chcieli by się nauczyć projektować strony w tym frameworku polecam tutorial 
  <a href="http://railstutorial.org/book" target="_blank">Ruby on Rails Tutorial</a>
  ,dzięki któremu powstała moja strona.
  
</p>